<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author_id %>
  </p>

  <p>
    <strong>Article text:</strong>
    <%= article.article_text %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= article.image_url %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= article.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= article.dislikes %>
  </p>

</div>
