<% content_for :head do %>
  <%= stylesheet_link_tag 'clear_wrapper' %>
<% end %>

<div id="main">
  <% if notice %>
    <p style="color: green"><%= notice %></p>
  <% end %>

  <article class="post">
    <%= render @article, author: @author %>
  </article>

  <div>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= link_to "Back to articles", articles_path %>

    <%= button_to "Destroy this article", @article, method: :delete %>
  </div>
</div>