<% content_for :head do %>
  <%= stylesheet_link_tag 'clear_wrapper' %>
<% end %>

<div id="main">
  <% if notice %>
    <p style="color: green"><%= notice %></p>
  <% end %>

  <article class="post">
    <%= render @article, author: @author %>
  </article>

  <% if is_author_of_article @author.id %>
    <div>
      <ul class="actions author-control">
        <li>
          <%= link_to "Edit this article", edit_article_path(@article), class: "button large" %>
        </li>
        <li>
          <%= button_to "Destroy this article", @article, method: :delete, class: "button large" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<script>
  document.getElementsByClassName('author-control')[0].style.justifyContent = 'flex-end'; 
</script>