<% content_for :head do %>
	<%= stylesheet_link_tag 'index' %>
<% end %>
<div id="main">

	<% @articles.each do |article| %>
		<article class="post">
			<header>
				<div class="title">
					<h2><a href="/articles/<%= article.id %>"><%= article.title %></a></h2>
				</div>
				<div class="meta">
					<time class="published" datetime="2015-11-01"><%= get_date article.created_at %></time>
					<% @authors.each do |author| %>
						<%# Maybe I can use a helper to help me with that %>
						<% if author.id == article.author_id %>
							<div class="author-info"><a href="#" class="author"><span class="name"><%= author.first_name%> <%= author.last_name %></span><!--<img src="images/avatar.jpg" alt="" />--></a></span>
						<% end %>
					<% end %>
				</div>
			</header>
			<a href="/articles/<%= article.id %>" class="image featured"><img src="<%= article.image_url %>" alt="" /></a>
			<div class="article-description"><%= raw article.article_text %></div>
			<footer>
				<ul class="actions">
					<li><a href="/articles/<%= article.id %>" class="button large">Continue Reading</a></li>
				</ul>
				<ul class="stats">
					<li><a href="#" class="icon solid fa-heart"><%= article.likes %></a></li>
					<li><a href="#" class="icon solid fa-comment"><%= article.dislikes %></a></li>
				</ul>
			</footer>
		</article>
	<% end %>
	<ul class="actions pagination">
		<li><a href="" class="disabled button large previous">Previous Page</a></li>
		<li><a href="#" class="button large next">Next Page</a></li>
		<% if @is_author %>
			<li class="right"><%= link_to 'Add', new_article_path, class: "button large" %></li>
		<% end %>
	</ul>

</div>

<section id="sidebar">

	<section id="intro">
		<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
		<header>
			<h2>Samuel Laforme</h2>
		</header>
	</section>

	<section>
		<div class="mini-posts">
			<article class="mini-post">
				<header>
					<h3><a href="single.html">Vitae sed condimentum</a></h3>
					<time class="published" datetime="2015-10-20">October 20, 2015</time>
					<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
				</header>
				<a href="single.html" class="image"><img src="images/pic04.jpg" alt="" /></a>
			</article>

		</div>
	</section>

	<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
						<time class="published" datetime="2015-10-20">October 20, 2015</time>
					</header>
					<a href="single.html" class="image"><img src="images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
	</section>

	<section class="blurb">
		<h2>About</h2>
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>
</div>