<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main' %>
    
    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'home/header' %>
    <%= yield %>
    <%= render 'home/footer' %>
    
    <script src="<%= asset_path('js/jquery.min') %>"></script>
    <script src="<%= asset_path('js/browser.min') %>"></script>
    <script src="<%= asset_path('js/breakpoints.min') %>"></script>
    <script src="<%= asset_path('js/util') %>"></script>
    <script src="<%= asset_path('js/main') %>"></script>
  </body>
</html>
